*{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px 15px;
    background-color: black;
    height: 10%;
}

.nameTag{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 1px gold;
}
.aTags{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid gold;
    /*padding: 15px;*/
    width: 140px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.atags1{
    display: none;
}

.tags{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.menu{
    
   height: 100%;
   width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: black;
    display: none;

}


.img1{
    border-radius: 0px;
    height: 100%;
}

.aTags:hover{
    color: gold;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid gold;
    /*padding: 15px;*/
    width: 140px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gold;
    text-shadow: 1px 1px 1px white;
}

.aTags1:hover{
    color: gold;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid gold;
    /*padding: 15px;*/
    width: 140px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gold;
    text-shadow: 1px 1px 1px white;
}

.body1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: black;

}

.img2{
    border-radius: 10px;
}

.pic{
    border:2px solid white;
    border-radius: 10px;
    box-shadow: 2px 1px 1px 1px gold;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    color: white;

}



.subIntro{
    padding-top: 15px;
    border-top-color: gold;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 15px;
    border-radius: 10px;
}

.subTxt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    word-spacing: 4;
    letter-spacing: 1;
    line-height: 40px;
    color: white;
}

.name2{
    color: gold;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
}

.body2{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.edTitle{
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 1px 1px white;
}

.items{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    word-spacing: 4;
    letter-spacing: 1;
    line-height: 30px;
    color: white;
    margin-left: 60px;
}

.items1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    word-spacing: 4;
    letter-spacing: 1;
    line-height: 30px;
    color: white;
}

.edCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.ed1{
    padding: 20px;
    border:4px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 8px gold;
    
}

.progress{
    width: 50%;
}

.prg{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.prgTxt{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    width: 10%;
}

.w-90{
    width: 90% !important;
}
.w-85{
    width: 85% !important;
}

.w-80{
    width: 80% !important;
}
.prgTcont{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.prgCont{
    background-color: black;
    padding-bottom: 20px;
}

.expTitle{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imgStyle{
    border:1px solid white;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gold;
}

.expTxt{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 5px;
    
}

.app{
    width: 280px;

}

.exp2{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.exp2Txt{
    width: 50%;
}

.cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.cardRight{
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.cardLeft{
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer{
    width: 98%;
    height: 200px;
    padding: 20px;
    border:4px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 8px gold;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footerCont{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linked{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    word-spacing: 4;
    letter-spacing: 1;
    line-height: 40px;
    color: white;
   
}

.linked:hover{
    color: gold;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid gold;
    /*padding: 15px;*/
    width: 140px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gold;
    text-shadow: 1px 1px 1px white;
}

.hov:hover{
    color: gold;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid gold;
    padding: 10px;
    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gold;
    text-shadow: 1px 1px 1px white;
}


@media screen and (max-width:1000px)
{
    .aTags{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        text-decoration: none;
        border: 1px solid gold;
        /*padding: 15px;*/
        width: 120px;
        height: 60px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 30px;
        background-color: black;
    
    }

    .pic{
        border:2px solid white;
        border-radius: 10px;
        box-shadow: 2px 1px 1px 1px gold;
        margin-bottom: 30px;
    }

    .ed1{
        padding: 20px;
        border:4px solid white;
        border-radius: 15px;
        box-shadow: 2px 2px 10px 8px gold;
        width: 88%;
    }

    .expTitle{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
    }

    .expTxt{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 5px;
        
    }
}

@media screen and (max-width:870px)
{
    .tags{
        display: none;
    }

    .menu{
         
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 80px;
        background-color: black;
         
     }

     .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       /* padding: 5px 2px 2px 0px;*/
       padding: 0px 0px 0px 0px;
        background-color: black;
        height: 10%;
    }

    .name{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nameTag{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-shadow: 1px 1px 1px gold;
    }

    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .prg{
        background-color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
      
    }

    .prgCont{
        background-color: black;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .imgStyle{
        border:1px solid white;
        border-radius: 10px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px gold;
        width: 400px;
    }
    .exp2{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: black;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
    }

    .exp2Txt{
        width: 90%;
        padding-top: 30px;
    }

    .footer{
        width: 98%;
        height: 200px;
        padding: 20px;
        border:4px solid white;
        border-radius: 15px;
        box-shadow: 2px 2px 10px 8px gold;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .aTags1{
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        text-decoration: none;
        border: 1px solid gold;
        width: 50%;
        height: 60px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .drawer{
        background-color: black;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 50%;
        display: none;
    }


    
    

     
}